.idea/*
!.gitkeep
node_modules
build/docker/mysql/data/*
build/docker/redis/data/*
build/docker/golang/*
web/resources/tmp/*
#resources/swagger-ui/*
#!resources/swagger-ui/dist/*
public/swagger

web/frontend_workspace/riot-webpack-v2/public/assets
web/frontend_workspace/riot-webpack-v2/public/components
web/frontend_workspace/riot-webpack-v2/public/css
web/frontend_workspace/riot-webpack-v2/public/img
web/frontend_workspace/riot-webpack-v2/public/js
web/frontend_workspace/riot-webpack-v2/public/json